div {
  box-sizing: content-box;
}

button {
  border: 0;
  cursor: pointer;
  padding: 0;
}

header {
  align-items: center;
  background: linear-gradient(#eee, #ddd, #eee);
  display: flex;
  justify-content: center;
  padding: 10px 5px;
  position: relative;
  top: 0;
}

h2 {
  font-size: 22px;
}

.sage-body {
  background: #f7f7f7;
  border-left: 1px solid #bbb;
  border-right: 1px solid #bbb;
  font-family: 'Open Sans';
  margin: auto;
  padding-bottom: 10px;
  width: 440px;
}

.classification-filter, .country-filter {
  align-items: center;
  border-top: 1px solid #bbb;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.classification-option, .country-option {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.classification-button, .country-button {
  align-items: center;
  border: 1px solid #bbb;
  border-radius: 35px;
  background: #eee;
  display: flex;
  font-size: 38px;
  height: 70px;
  justify-content: center;
  margin: 32px;
  padding: 10px;
  width: 70px;
}

.classification-button:focus, .country-button:focus {
  outline: 0;
}

.classification-button.selected, .country-button.selected {
  background: #ccc;
  border: 3px solid #666;
}

.classification-label, .country-label {
  max-width: 110px;
  text-align: center;
}

.back, .forward {
  align-items: center;
  background-color: inherit;
  display: flex;
  position: absolute;
}

.back {
  left: 10px;
}

.forward {
  right: 10px;
}

.back::before {
  content: '\2190';
  font-size: 24px;
}

.forward::before {
  content: '\2192';
  font-size: 24px;
}

.keywords-placeholder {
  font-size: 14px;
  font-style: italic;
}

.random-tags-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
}

.random-tag {
  background: inherit;
  color: #e83a17;
}

/* //
// const styles = StyleSheet.create({
//   autocompleteItem: {
//     padding: 5
//   },
//   container: {
//     flex: 1,
//     backgroundColor: '#F5FCFF'
//   },
//   keywordsContainer: {
//     flexDirection: 'row',
//     padding: 20
//   },
//   main: {
//     paddingLeft: 20,
//     paddingRight: 20
//   },
//   randomTagContainer: {
//     borderTopColor: '#ddd',
//     borderTopWidth: 1,
//     marginTop: 25,
//     paddingTop: 10
//   },
//   scrollView: {
//     flexDirection: 'row',
//     flexWrap: 'wrap',
//     alignItems: 'center',
//     marginBottom: 64,
//     justifyContent: 'center',
//     backgroundColor: '#F5FCFF',
//   },
//   option: {
//     alignItems: 'center',
//     backgroundColor: '#eee',
//     borderRadius: 35,
//     borderWidth: 1,
//     borderColor: '#ccc',
//     justifyContent: 'center',
//     margin: 20,
//   },
//   selectedOption: {
//     backgroundColor: '#ccc'
//   },
//   touchable: {
//     alignItems: 'center',
//     justifyContent: 'center',
//     borderRadius: 35,
//     width: 70,
//     height: 70
//   },
//   optionText: {
//     fontSize: 48
//   },
//   list: {
//     backgroundColor: 'white',
//     padding: 5
//   },
//   randomTags: {
//     alignItems: 'baseline',
//     justifyContent: 'space-evenly',
//     flexDirection: 'row',
//     flexWrap: 'wrap',
//     marginTop: 10
//   },
//   randomTag: {
//     color: '#e83a17',
//     fontFamily: 'System',
//     fontSize: 18,
//     marginRight: 5
//   },
//   selectedKeywords: {
//     flexDirection: 'row',
//     flexWrap: 'wrap'
//   },
//   text: {
//     fontFamily: 'System'
//   }
// }); */
